---
const contactInfo = [
  {
    icon: "icon-phone",
    href: "tel:+919425801106",
    title: "Phone",
    text: "+91-9425801106",
  },
  {
    icon: "icon-whatsapp",
    href: "https://wa.me/+917999874090/",
    title: "WhatsApp",
    text: "+91-7999874090",
    target: "_blank",
    rel: "noopener",
  },
  {
    icon: "icon-mail",
    href: "mailto:vkagrahariidse@gmail.com",
    title: "Email",
    text: "vkagrahariidse@gmail.com",
  },
  {
    icon: "icon-linkedin",
    href: "https://www.linkedin.com/in/vkagrahariidse",
    title: "LinkedIn",
    text: "vkagrahariidse",
    target: "_blank",
    rel: "noopener",
  },
];
---

<header>
  <div>
    <img
      id="profile-photo"
      src="/image/photo.jpg"
      alt="Vinay Kumar Agrahari, sunglasses, selfie"
    />
  </div>
  <div>
    <h1>Vinay Kumar Agrahari, IDSE</h1>
    <h3>Jt. Director General (Retd. October 2024)</h3>
    <p>Lucknow, India</p>
    <div class="contact-info">
      {
        contactInfo.map((info) => (
          <span>
            <i class={`icons ${info.icon}`} />
            <a
              href={info.href}
              target={info.target}
              rel={info.rel}
              title={info.title}
            >
              {info.text}
            </a>
          </span>
        ))
      }
    </div>
  </div>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    @media (max-width: 700px) {
      flex-direction: column;
      text-align: center;
      gap: 0.3rem;
    }
  }

  #profile-photo {
    aspect-ratio: 1;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid var(--fg-color);
  }

  .contact-info {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 520px) {
      grid-template-columns: auto;
    }
  }
</style>
